<% const Utils = require('../utils'); -%>
<% const Templates = require('../templates'); %>

<table id="results-3048m" style="clear: both;width:100%;" class="widget-wrapper">

    <thead>
        <tr>
            <th>Date</th>
            <% Object.keys(timeEntries.totals).forEach((k) => { %>
            <th colspan="2" style="padding-right: 14px;"><%= Templates.projectHeading(projects, leaveTypes, k) %></th>
            <% }); %>
        </tr>
    </thead>

    <tbody class="tk-time-tracker">
        <% Utils.forEach(timeEntries.data, (dayData, dateKey) => {

            const rowHours = Object.keys(dayData.projects).reduce((sum, projectKey) => sum + (dayData.projects[projectKey].hours || 0), 0);
        %>

        <% if (dayData.display) { %>
        <tr class="tk-time-tracker-row" style="<%= Templates.rowStyle(dayData) %>">

            <td style="white-space: nowrap;padding-right: 14px;" title="<%= dayData.rows.map((row) => JSON.stringify(row)).join('\n\n') %>"><%= dateKey %></td>

            <% Object.keys(timeEntries.totals).forEach((projectKey) => { const projectData = dayData.projects[projectKey]; %>
            <td class="<%- Templates.hourCellClass(projects, leaveTypes, projectKey, projectData) %>"><%- Templates.approvals(dayData.rows) %><div class="tk-hours">
                <%- Templates.projectHours(projectData, rowHours) %>
            </div></td>
            <td style="padding-right: 14px;">
                <%- projectData && projectData.notes || '' %>
                <% if (projectData && projectData.error === 'E_MULTIPLE_ENTRIES') { %>
                <span style="color: #999;font-size: 10px;">Fix multiple entries in "Day" view</span>
                <% } %>
                <% if (projectData && projectData.error === 'E_MULTIPLE_SCHEDULES') { %>
                <span style="color: #900;font-size: 10px;">Multiple schedules available</span>
                <% } %>
            </td>
            <% }) %>
        </tr>
        <% } %>

        <% if (dayData.lastOfMonth) { %>
        <tr class="tk-time-tracker-row" style="background-color:#e5e5e5;">

            <th scope="row"><%= dayData.month %></th>

            <% Object.keys(timeEntries.totals).forEach((k) => { %>
            <td colspan="2" style="padding-right: 14px;"><div class="tk-time-tracker-cel"><div class="tk-hours"><%= (timeEntries.totals[k][dayData.month] || 0) / 8 %> days</div></div></td>
            <% }); %>
        </tr>
        <% } %>

        <% }); %>
    </tbody>

</table>
